@model IEnumerable<PaternosterDemo.Models.Part>

<h1>Onderdeel overzicht</h1>

<p>
    <a asp-action="Create">Nieuw onderdeel toevoegen</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>Artikelnummer</th>
            <th>Naam</th>
            <th>Beschrijving</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.ArticleNumber</td>
            <td>@item.Name</td>
            <td>@item.Description</td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PartId">Bewerken</a> |
                <a asp-action="Delete" asp-route-id="@item.PartId">Verwijderen</a>
            </td>
        </tr>
}
    </tbody>
</table>
